@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes resetGrowUp {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
